<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PgwSite" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat"/>
  </appSettings>
  <connectionStrings>
    <add name="CMSDataBaseConnectionString" connectionString="Data Source=.;Initial Catalog=GashtData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CMSDataBaseConnectionString1" connectionString="Server=.;Database=parhantr_webdatas;User ID=parhantr_webdatauser;Password=k1Y~n79jqH9#m55g;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validationKey="790C18025087BAF76AE5559629CC9BC5176E8F0BB4864A6F8C7C3D0A920C30D54AB00EF4AE11D66FD4237076EA0D952E062A18FE2C938F1F15BF77D33BB3B84D" decryptionKey="3B1F6057C9336A65034CC60D3C3FB9FFC32E7D39D00A0E7A975BB4B19195AD15" validation="SHA1" decryption="AES"/>
    <httpModules>
      <add type="WhitespaceModule" name="WhitespaceModule"/>
    </httpModules>
    <httpRuntime maxRequestLength="1097151" executionTimeout="24000" requestValidationMode="2.0" enableVersionHeader="false" requestPathInvalidCharacters="&lt;,&gt;,%,:,\,?"/>
    <customErrors mode="Off" defaultRedirect="404.aspx">
      <error statusCode="403" redirect="404.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
      <error statusCode="500" redirect="500.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!--برای GLEMTECH FILE EXPLORER-->
    <hostingEnvironment shadowCopyBinAssemblies="false" />
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/xaml+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
        <!-- HERE -->
        <add mimeType="image/svg+xml" enabled="true"/>
        <add mimeType="application/font-woff" enabled="true"/>
        <add mimeType="application/x-font-ttf" enabled="true"/>
        <add mimeType="application/octet-stream" enabled="true"/>
        <!-- HERE -->
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www.villanargol.ir" negate="true"/>
            <add input="{HTTP_HOST}" pattern="^([^.]+).villanargol.ir" ignoreCase="false"/>
          </conditions>
          <action type="Rewrite" url="/{C:1}/{R:1}"/>
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^([^/]+)/(.*)$" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{THE_REQUEST}" pattern="^[A-Z]{3,9}\ /(.+)\ HTTP/" ignoreCase="false"/>
          </conditions>
          <action type="Redirect" url="http://{R:1}.villanargol.ir/{R:2}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483645"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
  </system.webServer>
  <applicationSettings>
    <CMS.Properties.Settings>
      <setting name="CMS_BPService_PaymentGatewayImplService" serializeAs="String">
        <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
      </setting>
      <setting name="CMS_SamanPay_PaymentIFBinding" serializeAs="String">
        <value>https://sep.shaparak.ir/Payments/InitPayment.asmx</value>
      </setting>
      <setting name="CMS_ZarinPal_PaymentGatewayImplementationService" serializeAs="String">
        <value>https://www.zarinpal.com/pg/services/WebGate/service</value>
      </setting>
    </CMS.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentIFBindingSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentIFBindingSoap1" />
        <binding name="BasicHttpBinding_ITokens">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ITokens1" />
        <binding name="BasicHttpBinding_IVerify">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVerify1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://acquirer.samanepay.com/payments/referencepayment.asmx"
        binding="basicHttpBinding" bindingConfiguration="PaymentIFBindingSoap"
        contract="SamanServiceReference.PaymentIFBindingSoap" name="PaymentIFBindingSoap" />
      <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens"
        contract="IranKish.ITokens" name="BasicHttpBinding_ITokens" />
      <endpoint address="https://ikc.shaparak.ir/TVerify/Verify.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerify"
        contract="IranKishVerify.IVerify" name="BasicHttpBinding_IVerify" />
    </client>
  </system.serviceModel>
</configuration>