/************************Icons*************************/
[class^="icon-"] {
    margin-left:4px;
}
.dasboard-icons-title {
    display:block;
    padding-top:5px;
}
/******** Dark Sets (actions) ********/
.icon-fix {
    display:inline-block;
    position:relative;
    top:-2px;
}
.icon-inbox {
    display:inline-block;
    position:relative;
    top:-1px;
    background:transparent url(../images/icons/set-1/inbox.png) no-repeat;
    width:14px;
    height:14px;
}
.icon-sentbox {
    display:inline-block;
    position:relative;
    top:-1px;
    background:transparent url(../images/icons/set-1/outgoing.png) no-repeat;
    width:14px;
    height:14px;
}
.icon-suitcase {
    display:inline-block;
    position:relative;
    top:-1px;
    background:transparent url(../images/icons/set-1/suitcase.png) no-repeat;
    width:14px;
    height:14px;
}
.icon-doc {
    display:inline-block;
    position:relative;
    top:-1px;
    background:transparent url(../images/icons/set-1/doc.png) no-repeat;
    width:14px;
    height:14px;
}
.icon-modify {
    display:inline-block;
    position:relative;
    top:-2px;
    background:transparent url(../images/icons/set-1/pencil.png) no-repeat;
    width:14px;
    height:14px;
}
.icon-acc {
    display:inline-block;
    position:relative;
    top:-1px;
    background:transparent url(../images/icons/set-1/cog.png) no-repeat;
    width:14px;
    height:14px;
}
.icon-off {
    display:inline-block;
    position:relative;
    top:-1px;
    background:transparent url(../images/icons/set-1/logoff.png) no-repeat;
    width:14px;
    height:14px;
}
/******** Color Set Sprite (Dashboard Quick Buttons) ********/
.dashboard-icons {
    display:inline-block;
    width:40px;
    height:40px;
    *margin-right:.3em;
    line-height:40px;
    vertical-align:text-top;
}
.dashboard-icons {
    display:inline-block;
    width:40px;
    height:40px;
    *margin-right:.3em;
    line-height:40px;
    vertical-align:text-top;
    background:url(../images/icons/sprite/set-2.png) no-repeat;
}
.donate_dashboard {
    background-position:0px 0px;
}
.document_library_dashboard {
    background-position:-40px 0px;
}
.delicious_dashboard {
    background-position:-80px 0px;
}
.date_dashboard {
    background-position:-120px 0px;
}
.database_dashboard {
    background-position:-160px 0px;
}
.cv_dashboard {
    background-position:-200px 0px;
}
.customers_dashboard {
    background-position:-240px 0px;
}
.current_work_dashboard {
    background-position:-280px 0px;
}
.credit_card_dashboard {
    background-position:-320px 0px;
}
.credit_dashboard {
    background-position:-360px 0px;
}
.cost_dashboard {
    background-position:-400px 0px;
}
.contact_dashboard {
    background-position:-440px 0px;
}
.consulting_dashboard {
    background-position:-480px 0px;
}
.communication_dashboard {
    background-position:-520px 0px;
}
.config_dashboard {
    background-position:-560px 0px;
}
.comment_dashboard {
    background-position:-600px 0px;
}
.check_dashboard {
    background-position:-640px 0px;
}
.collaboration_dashboard {
    background-position:-680px 0px;
}
.calendar_dashboard {
    background-position:-720px 0px;
}
.busy_dashboard {
    background-position:-760px 0px;
}
.category_dashboard {
    background-position:-800px 0px;
}
.business_contact_dashboard {
    background-position:-840px 0px;
}
.brainstorming_dashboard {
    background-position:-880px 0px;
}
.bookmark_dashboard {
    background-position:-920px 0px;
}
.billing_dashboard {
    background-position:-960px 0px;
}
.bestseller_dashboard {
    background-position:0px -40px;
}
.basket_dashboard {
    background-position:-40px -40px;
}
.bank_dashboard {
    background-position:-80px -40px;
}
.attibutes_dashboard {
    background-position:-120px -40px;
}
.archives_dashboard {
    background-position:-160px -40px;
}
.advertising_dashboard {
    background-position:-200px -40px;
}
.administrative_docs_dashboard {
    background-position:-240px -40px;
}
.address_dashboard {
    background-position:-280px -40px;
}
.payment_card_dashboard {
    background-position:-320px -40px;
}
.order_1_dashboard {
    background-position:-360px -40px;
}
.order_dashboard {
    background-position:-400px -40px;
}
.old_versions_dashboard {
    background-position:-440px -40px;
}
.networking_dashboard {
    background-position:-480px -40px;
}
.my_account_dashboard {
    background-position:-520px -40px;
}
.logout_dashboard {
    background-position:-560px -40px;
}
.milestone_dashboard {
    background-position:-600px -40px;
}
.login_dashboard {
    background-position:-640px -40px;
}
.lock_dashboard {
    background-position:-680px -40px;
}
.link_dashboard {
    background-position:-720px -40px;
}
.limited_edition_dashboard {
    background-position:-760px -40px;
}
.lightbulb_dashboard {
    background-position:-800px -40px;
}
.library_dashboard {
    background-position:-840px -40px;
}
.issue_dashboard {
    background-position:-880px -40px;
}
.invoice_dashboard {
    background-position:-920px -40px;
}
.illustration_dashboard {
    background-position:-960px -40px;
}
.home_dashboard {
    background-position:0px -80px;
}
.hire_me_dashboard {
    background-position:-40px -80px;
}
.heart_dashboard {
    background-position:-80px -80px;
}
.graphic_design_dashboard {
    background-position:-120px -80px;
}
.future_projects_dashboard {
    background-position:-160px -80px;
}
.full_time_dashboard {
    background-position:-200px -80px;
}
.freelance_dashboard {
    background-position:-240px -80px;
}
.folder_dashboard {
    background-position:-280px -80px;
}
.free_for_job_dashboard {
    background-position:-320px -80px;
}
.flag_dashboard {
    background-position:-360px -80px;
}
.finished_work_dashboard {
    background-position:-400px -80px;
}
.feed_dashboard {
    background-position:-440px -80px;
}
.featured_dashboard {
    background-position:-480px -80px;
}
.email_dashboard {
    background-position:-520px -80px;
}
.edit_dashboard {
    background-position:-560px -80px;
}
.drawings_dashboard {
    background-position:-600px -80px;
}
.paypal_dashboard {
    background-position:-640px -80px;
}
.pen_dashboard {
    background-position:-680px -80px;
}
.zoom_dashboard {
    background-position:-720px -80px;
}
.world_dashboard {
    background-position:-760px -80px;
}
.user_dashboard {
    background-position:-800px -80px;
}
.upcoming_work_dashboard {
    background-position:-840px -80px;
}
.twitter_dashboard {
    background-position:-880px -80px;
}
.ticket_dashboard {
    background-position:-920px -80px;
}
.tag_dashboard {
    background-position:-960px -80px;
}
.suppliers_dashboard {
    background-position:0px -120px;
}
.statistics_dashboard {
    background-position:-40px -120px;
}
.star_dashboard {
    background-position:-80px -120px;
}
.sign_up_dashboard {
    background-position:-120px -120px;
}
.special_offer_dashboard {
    background-position:-160px -120px;
}
.sign_out_dashboard {
    background-position:-200px -120px;
}
.sitemap_dashboard {
    background-position:-240px -120px;
}
.sign_in_dashboard {
    background-position:-280px -120px;
}
.showreel_dashboard {
    background-position:-320px -120px;
}
.shipping_dashboard {
    background-position:-360px -120px;
}
.settings_dashboard {
    background-position:-400px -120px;
}
.search_dashboard {
    background-position:-440px -120px;
}
.refresh_dashboard {
    background-position:-480px -120px;
}
.publish_dashboard {
    background-position:-520px -120px;
}
.project_dashboard {
    background-position:-560px -120px;
}
.product_design_dashboard {
    background-position:-600px -120px;
}
.product_1_dashboard {
    background-position:-640px -120px;
}
.product_dashboard {
    background-position:-680px -120px;
}
.process_dashboard {
    background-position:-720px -120px;
}
.print_dashboard {
    background-position:-760px -120px;
}
.premium_dashboard {
    background-position:-800px -120px;
}
.plus_dashboard {
    background-position:-840px -120px;
}
.photography_dashboard {
    background-position:-880px -120px;
}
.phone_dashboard {
    background-position:-920px -120px;
}
.pencil_dashboard {
    background-position:-960px -120px;
}
/******** Flags ********/
.icon_ad {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ad.png);
}
.icon_ae {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ae.png);
}
.icon_af {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/af.png);
}
.icon_ag {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ag.png);
}
.icon_ai {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ai.png);
}
.icon_al {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/al.png);
}
.icon_am {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/am.png);
}
.icon_an {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/an.png);
}
.icon_ao {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ao.png);
}
.icon_ar {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ar.png);
}
.icon_as {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/as.png);
}
.icon_at {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/at.png);
}
.icon_au {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/au.png);
}
.icon_aw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/aw.png);
}
.icon_ax {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ax.png);
}
.icon_az {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/az.png);
}
.icon_ba {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ba.png);
}
.icon_bb {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bb.png);
}
.icon_bd {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bd.png);
}
.icon_be {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/be.png);
}
.icon_bf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bf.png);
}
.icon_bg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bg.png);
}
.icon_bh {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bh.png);
}
.icon_bi {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bi.png);
}
.icon_bj {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bj.png);
}
.icon_bm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bm.png);
}
.icon_bn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bn.png);
}
.icon_bo {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bo.png);
}
.icon_br {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/br.png);
}
.icon_bs {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bs.png);
}
.icon_bt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bt.png);
}
.icon_bv {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bv.png);
}
.icon_bw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bw.png);
}
.icon_by {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/by.png);
}
.icon_bz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/bz.png);
}
.icon_ca {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ca.png);
}
.icon_catalonia {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/catalonia.png);
}
.icon_cc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cc.png);
}
.icon_cd {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cd.png);
}
.icon_cf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cf.png);
}
.icon_cg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cg.png);
}
.icon_ch {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ch.png);
}
.icon_ci {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ci.png);
}
.icon_ck {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ck.png);
}
.icon_cl {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cl.png);
}
.icon_cm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cm.png);
}
.icon_cn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cn.png);
}
.icon_co {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/co.png);
}
.icon_cr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cr.png);
}
.icon_cs {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cs.png);
}
.icon_cu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cu.png);
}
.icon_cv {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cv.png);
}
.icon_cx {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cx.png);
}
.icon_cy {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cy.png);
}
.icon_cz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/cz.png);
}
.icon_de {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/de.png);
}
.icon_dj {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/dj.png);
}
.icon_dk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/dk.png);
}
.icon_dm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/dm.png);
}
.icon_do {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/do.png);
}
.icon_dz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/dz.png);
}
.icon_ec {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ec.png);
}
.icon_ee {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ee.png);
}
.icon_eg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/eg.png);
}
.icon_eh {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/eh.png);
}
.icon_en {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/en.png);
}
.icon_er {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/er.png);
}
.icon_es {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/es.png);
}
.icon_et {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/et.png);
}
.icon_europeanunion {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/europeanunion.png);
}
.icon_fam {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fam.png);
}
.icon_fi {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fi.png);
}
.icon_fj {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fj.png);
}
.icon_fk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fk.png);
}
.icon_fm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fm.png);
}
.icon_fo {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fo.png);
}
.icon_fr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/fr.png);
}
.icon_ga {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ga.png);
}
.icon_gb {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gb.png);
}
.icon_gd {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gd.png);
}
.icon_ge {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ge.png);
}
.icon_gf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gf.png);
}
.icon_gh {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gh.png);
}
.icon_gi {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gi.png);
}
.icon_gl {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gl.png);
}
.icon_gm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gm.png);
}
.icon_gn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gn.png);
}
.icon_gp {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gp.png);
}
.icon_gq {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gq.png);
}
.icon_gr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gr.png);
}
.icon_gs {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gs.png);
}
.icon_gt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gt.png);
}
.icon_gu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gu.png);
}
.icon_gw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gw.png);
}
.icon_gy {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/gy.png);
}
.icon_hk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/hk.png);
}
.icon_hm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/hm.png);
}
.icon_hn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/hn.png);
}
.icon_hr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/hr.png);
}
.icon_ht {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ht.png);
}
.icon_hu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/hu.png);
}
.icon_id {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/id.png);
}
.icon_ie {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ie.png);
}
.icon_il {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/il.png);
}
.icon_in {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/in.png);
}
.icon_io {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/io.png);
}
.icon_iq {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/iq.png);
}
.icon_ir {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ir.png);
}
.icon_is {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/is.png);
}
.icon_it {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/it.png);
}
.icon_jm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/jm.png);
}
.icon_jo {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/jo.png);
}
.icon_jp {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/jp.png);
}
.icon_ke {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ke.png);
}
.icon_kg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kg.png);
}
.icon_kh {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kh.png);
}
.icon_ki {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ki.png);
}
.icon_km {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/km.png);
}
.icon_kn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kn.png);
}
.icon_kp {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kp.png);
}
.icon_kr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kr.png);
}
.icon_kw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kw.png);
}
.icon_ky {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ky.png);
}
.icon_kz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/kz.png);
}
.icon_la {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/la.png);
}
.icon_lb {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lb.png);
}
.icon_lc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lc.png);
}
.icon_li {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/li.png);
}
.icon_lk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lk.png);
}
.icon_lr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lr.png);
}
.icon_ls {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ls.png);
}
.icon_lt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lt.png);
}
.icon_lu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lu.png);
}
.icon_lv {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/lv.png);
}
.icon_ly {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ly.png);
}
.icon_ma {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ma.png);
}
.icon_mc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mc.png);
}
.icon_md {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/md.png);
}
.icon_me {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/me.png);
}
.icon_mg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mg.png);
}
.icon_mh {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mh.png);
}
.icon_mk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mk.png);
}
.icon_ml {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ml.png);
}
.icon_mm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mm.png);
}
.icon_mn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mn.png);
}
.icon_mo {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mo.png);
}
.icon_mp {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mp.png);
}
.icon_mq {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mq.png);
}
.icon_mr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mr.png);
}
.icon_ms {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ms.png);
}
.icon_mt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mt.png);
}
.icon_mu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mu.png);
}
.icon_mv {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mv.png);
}
.icon_mw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mw.png);
}
.icon_mx {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mx.png);
}
.icon_my {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/my.png);
}
.icon_mz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/mz.png);
}
.icon_na {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/na.png);
}
.icon_nc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/nc.png);
}
.icon_ne {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ne.png);
}
.icon_nf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/nf.png);
}
.icon_ng {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ng.png);
}
.icon_ni {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ni.png);
}
.icon_nl {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/nl.png);
}
.icon_no {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/no.png);
}
.icon_np {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/np.png);
}
.icon_nr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/nr.png);
}
.icon_nu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/nu.png);
}
.icon_nz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/nz.png);
}
.icon_om {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/om.png);
}
.icon_pa {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pa.png);
}
.icon_pe {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pe.png);
}
.icon_pf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pf.png);
}
.icon_pg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pg.png);
}
.icon_ph {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ph.png);
}
.icon_pk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pk.png);
}
.icon_pl {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pl.png);
}
.icon_pm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pm.png);
}
.icon_pn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pn.png);
}
.icon_pr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pr.png);
}
.icon_ps {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ps.png);
}
.icon_pt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pt.png);
}
.icon_pw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/pw.png);
}
.icon_py {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/py.png);
}
.icon_qa {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/qa.png);
}
.icon_re {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/re.png);
}
.icon_ro {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ro.png);
}
.icon_rs {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/rs.png);
}
.icon_ru {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ru.png);
}
.icon_rw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/rw.png);
}
.icon_sa {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sa.png);
}
.icon_sb {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sb.png);
}
.icon_sc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sc.png);
}
.icon_scotland {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/scotland.png);
}
.icon_sd {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sd.png);
}
.icon_se {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/se.png);
}
.icon_sg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sg.png);
}
.icon_sh {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sh.png);
}
.icon_si {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/si.png);
}
.icon_sj {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sj.png);
}
.icon_sk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sk.png);
}
.icon_sl {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sl.png);
}
.icon_sm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sm.png);
}
.icon_sn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sn.png);
}
.icon_so {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/so.png);
}
.icon_sr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sr.png);
}
.icon_st {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/st.png);
}
.icon_sv {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sv.png);
}
.icon_sy {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sy.png);
}
.icon_sz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/sz.png);
}
.icon_tc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tc.png);
}
.icon_td {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/td.png);
}
.icon_tf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tf.png);
}
.icon_tg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tg.png);
}
.icon_th {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/th.png);
}
.icon_tj {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tj.png);
}
.icon_tk {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tk.png);
}
.icon_tl {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tl.png);
}
.icon_tm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tm.png);
}
.icon_tn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tn.png);
}
.icon_to {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/to.png);
}
.icon_tr {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tr.png);
}
.icon_tt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tt.png);
}
.icon_tv {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tv.png);
}
.icon_tw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tw.png);
}
.icon_tz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/tz.png);
}
.icon_ua {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ua.png);
}
.icon_ug {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ug.png);
}
.icon_um {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/um.png);
}
.icon_us {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/us.png);
}
.icon_uy {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/uy.png);
}
.icon_uz {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/uz.png);
}
.icon_va {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/va.png);
}
.icon_vc {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/vc.png);
}
.icon_ve {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ve.png);
}
.icon_vg {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/vg.png);
}
.icon_vi {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/vi.png);
}
.icon_vn {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/vn.png);
}
.icon_vu {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/vu.png);
}
.icon_wales {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/wales.png);
}
.icon_wf {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/wf.png);
}
.icon_ws {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ws.png);
}
.icon_ye {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/ye.png);
}
.icon_yt {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/yt.png);
}
.icon_za {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/za.png);
}
.icon_zm {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/zm.png);
}
.icon_zw {
    display:inline-block;
    position:relative;
    top:1px;
    width:16px;
    height:11px;
    margin-right:5px;
    background:url(../images/icons/flags/zw.png);
}
/******** Color Sets (Pages, Title, etc) ********/
.icon_add {
    display:inline-block;
    position:relative;
    top:1px;
    width:21px;
    height:22px;
    background:url(../images/icons/middle/add.png);
}
.icon_create {
    display:inline-block;
    position:relative;
    top:1px;
    width:21px;
    height:22px;
    background:url(../images/icons/middle/create.png);
}
.icon_messages {
    display:inline-block;
    position:relative;
    top:1px;
    width:25px;
    height:22px;
    background:url(../images/icons/middle/messages.png);
}
.icon_stats2 {
    display:inline-block;
    position:relative;
    top:1px;
    width:19px;
    height:22px;
    background:url(../images/icons/middle/stats.png);
}















.icon_dash ,
.icon_users
,.icon_agenda
,.icon_projects
,.icon_reports 
,.icon_stats
,.icon_cont
,.icon_cont
,.icon_files 
,.icon_system
,.icon_charts 
,.icon_mail
.icon_success 
,.icon_balloon-buzz
,.icon_application-form
,.icon_off
,.icon_document-invoice
,.icon_document-list
,.icon_ui-text-field-format
,.icon_ui-scroll-pane-form 
,.icon_application-image
,.icon_view_thumb
,.icon_notes
,.icon_usergroup
,.icon_coin_cuprum
,.icon_module{
    display:inline-block;
    position:relative;
    top:3px;
    width:16px;
    height:16px;
    margin-left:10px;
    background:url(../images/icons/dashboard/home.png);
}
.icon_module {
    background:url(../images/icons/dashboard/module.png);
}
.icon_coin_cuprum {
    background:url(../images/icons/dashboard/coin_gold.png);
}
.icon_off {
    background:url(../images/icons/dashboard/off.png);
}
.icon_usergroup {
    background:url(../images/icons/dashboard/usergroup.png);
}
.icon_notes {
    background:url(../images/icons/dashboard/alert.png);
}
.icon_users {
    background:url(../images/icons/dashboard/users.png);
}
.icon_agenda {
    background:url(../images/icons/dashboard/books.png);
}
.icon_projects {
    background:url(../images/icons/dashboard/briefcase.png);
}
.icon_reports {
    background:url(../images/icons/dashboard/mail.png);
}
.icon_stats {
    background:url(../images/icons/dashboard/chart.png);
}
.icon_cont {
    background:url(../images/icons/dashboard/document-text.png);
}
.icon_files {
    background:url(../images/icons/dashboard/document.png);
}
.icon_system {
    background:url(../images/icons/dashboard/infocard.png);
}
.icon_charts {
    background:url(../images/icons/dashboard/chart-up-color.png);
}
.icon_mail {
   
    background:url(../images/icons/dashboard/mail.png);
}
.icon_success {

    background:url(../images/icons/dashboard/tick.png);
}
.icon_balloon-buzz {

    background:url(../images/icons/dashboard/balloon-buzz.png);
}
.icon_application-form {

    background:url(../images/icons/dashboard/application-form.png);
}
.icon_document-invoice {

    background:url(../images/icons/dashboard/document-invoice.png);
}
.icon_document-list {

    background:url(../images/icons/dashboard/document-list.png);
}
.icon_ui-scroll-pane-form {

    background:url(../images/icons/dashboard/ui-scroll-pane-form.png);
}
.icon_ui-text-field-format {
   
    background:url(../images/icons/dashboard/ui-text-field-format.png);
}
.icon_application-image {
  
    background:url(../images/icons/dashboard/application-image.png);
}
.icon_view_thumb {
  
    background:url(../images/icons/dashboard/view_thumb.png);
}